version: '3.8'

services:
  # 1. Database
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. PGAdmin (Accessible at https://cost-estimator.vplanusa.com/pgadmin/)
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      SCRIPT_NAME: /pgadmin
    ports:
      - "127.0.0.1:5050:80"
    depends_on:
      - db

  # 3. Backend
  backend:
    build: .
    container_name: cost_estimator_backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --proxy-headers --forwarded-allow-ips "*"
    volumes:
      - media_volume:/app/static/uploads
    expose:
      - "8000"
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_SERVER=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
    depends_on:
      - db

  # 4. Frontend
  frontend:
    build:
      context: ./cost-estimator-frontend
      dockerfile: Dockerfile.prod
      args:
        - VITE_API_URL=${VITE_API_URL}
    container_name: cost_estimator_frontend
    ports:
      - "127.0.0.1:5173:80"
    depends_on:
      - backend

volumes:
  postgres_data:
  media_volume: